{% extends 'base.html' %}
{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
<div class="col-md-9">
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: {{ item.category.title }}
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" class="mr-3" width="536" height="354">
                {% else %}
                <img src="https://picsum.photos/id/1084/536/354?grayscale" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:"Y-m-d H:i" }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
